---
import BaseLayout from "../layouts/BaseLayout.astro";

import Navigation from "../components/Navigation.astro";
---

<BaseLayout pageTitle="首页" description="欢迎来到我的博客网站！">
    <h1>欢迎来到我的博客网站！</h1>
    <p>这是一个使用 Astro 构建的简单博客网站。</p>

    <Navigation />
</BaseLayout>
