---
import "../styles/components/Header.css"
import {siteInfo} from "../data/SiteInfo";
import NavMenuList from "../components/NavMenuList.astro";
import {Icon} from "astro-icon/components";
---

<header>
    <!-- 区域1：网站logo区域 -->
    <div class="site-branding">
        <a href="/" class="site-logo">
            {siteInfo.logo && <img src={siteInfo.logo} alt="Logo"/>}
            <span class="site-title">{siteInfo.title}</span>
        </a>
        <!-- 汉堡菜单按钮 -->
        <button class="menu-toggle">
            <Icon name="lucide:menu"/>
        </button>
    </div>

    <!-- 区域2：导航菜单区域 -->
    <nav>
        <NavMenuList/>
    </nav>

    <!-- 区域3：工具区域 -->
    <div class="header-tools">
        <button class="theme-toggle">
            <Icon name="lucide:sun-moon"/>
        </button>
    </div>

    <!-- 收起菜单按钮 -->
    <button class="menu-collapse">
        <Icon name="lucide:chevron-up"/>
    </button>
</header>


