---
import BaseLayout from "./BaseLayout.astro";
import Header from "../components/Header.astro";
import Aside from "../components/Aside.astro";
import Footer from "../components/Footer.astro";

const { ...rest } = Astro.props;
---

<BaseLayout {...rest}>
	<Header />

	<!-- 主体内容 -->
	<main>
		<slot />
	</main>
	<!-- 侧边栏 -->
	<!--<Aside />-->
	<!-- 页脚 -->
	<Footer />
</BaseLayout>

